<!-- Begin Body -->
<div id="blog-index">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <div id="posts">
          <% @posts.each do |post| %>
            <div class="post">
              <h1 class="text-center"><%= link_to post.title, blog_post_path(post) %></h1>
              <h2 class="text-center">Sam wrote this on <%= post.created_at.strftime("%B %d, %Y") %></h2>
              <p><%= post.body.truncate(500) %></p>
              <div id="read-more-link">
                <p><%= link_to "Read More...", blog_post_path(post) %></p>
              </div>
              <footer class="post-footer">
                <div class="post-actions">
                  <i class="fa fa-share-alt-square"> Share</i>
                  <p class="pull-right"><i class="fa fa-tags"></i> <%= raw post.tag_list.map {|t| link_to t, categories_path(t)}.join(', ') %> </p>
                </div>
              </footer>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-2" id="search-meta-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Articles">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="fa fa-search"></span>
            </button>
          </span>
        </div>
        <div class="well" id="categories">
          <h4 class="text-center">Categories</h4>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-unstyled">
                <% ActsAsTaggableOn::Tag.all.each do |tag| %>
                  <li><%= link_to tag.name.capitalize, categories_path(tag.name) %> (<%= tag.taggings_count %>)</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="well" id="archives">
          <h4 class="text-center">Archives</h4>
          <div class="form-group">
            <%= date_select("post", "created_at", start_year: 2001, discard_month: true,
                            discard_day: true) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>