<div id="post-show">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 pull-left well" id="post-meta-data">
        <h1>Discover posts on similar topics</h1>
        <ul class="list-unstyled">
          <%= raw @post.tag_list.map {|t| link_to t, categories_path(t)}.join(', ') %>
        </ul>
      </div>
      <div class="col-lg-10 pull-right" id="post-content">
        <h1 class="text-center"><%= @post.title %></h1>
        <h2 class="text-center">Sam wrote this on <%= @post.created_at.strftime("%B %d, %Y") %></h2>
        <p class="well" id="post_body">
          <%= @post.body %>
        </p>
      </div>
      <div class="col-lg-10 pull-right" id="comment-content">
        <%= render 'blog/posts/comment_content' %>
      </div>
      <div class="col-lg-10 pull-right pager">
        <div id="previous">
          <%= button_to("Previous Post", blog_post_path(@post.previous_post), :method => "get", :class => "btn btn-large btn-primary pull-left", :id => "previous_button") if @post.previous_post %>
        </div>
        <div id="next">
          <%= button_to("Next Post", blog_post_path(@post.next_post), :method => "get", :class => "btn btn-large btn-primary pull-right", :id => "next_button") if @post.next_post %>
        </div>
      </div>
    </div>
  </div>
</div>