  <div id="headerwrap">
    <div class="container">
      <div class="row centered">
        <div class="title-group">
          <p id="title-productions">shotop productions</p>
          <p id="title-dream">The Extraordinary Adventures</p>
        </div>
        <button type="button" class="btn btn-link" id="down_direction_arrow">
          <i class="fa fa-angle-double-down"></i>
        </button>
      </div>
    </div>
  </div>

  <div id="aboutwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-12 col-lg-offset-4" id="profileInfo">
          <img class="img-circle" src="/assets/samprofilepic.jpeg" width="120" height="130" alt="Icon">
          <h4>Sam Hotop</h4>
          <p>I'm glad <b>you</b> are here! I built this website as a platform through which to share my passions, creativity, ideas and <b>adventures</b>. If you have any feedback about the site's design, any bugs, or would like to contact me for other reasons, please feel free to send me a message. I hope you find the content here fun and <b>engaging</b>.</p>
          <div class="col-lg-4 col-offset-4 contact-form well well-sm">
            <div class="container">
              <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
                <div class="form-group">
                  <label for="contactName">Name</label>
                  <input type="text" class="form-control" id="contactName" name="contact[name]" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label for="contactEmail">Email Address</label>
                  <input type="email" class="form-control" id="contactEmail" name="contact[email]" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="contactMessage">Message</label>
                  <textarea class="form-control" name="contact[message]" rows="5" placeholder="Message for Sam"></textarea>
                </div>
                <div class="hidden">
                  <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="doWhat">
    <div class="container">
      <div id="greeting">
        <p>Please, step into my Lab</p>
      </div>
      <div id="crisscross-content"
        <div class="row centered" style="border-bottom: 2px solid #ecf0f1; padding-top: 60px;">
          <div class="col-lg-6" style="border-right: 2px solid #ecf0f1;">
            <i class="fa fa-comment"><h3><%= link_to "BLOG", blog_path %></h3></i>
            <br>
            <p><b>Life, Travel, Personal, and Professional. This blog represents a catalog of the experiences, ideas, and interests that have become a part of my thinking over the years.</b></p>
          </div>

          <div class="col-lg-6">
            <i class="fa fa-language"><h3><%= link_to "RUSSIAN TRANSLATIONS", translations_path %></h3></i>
            <p><b>I've been studying Russian language, literature and culture for over a decade. I will be using this section to showcase a portfolio of Russian to English translations that I've worked on.</b></p>
          </div>
        </div>

        <div class="row centered" style="padding-bottom: 200px;">
          <div class="col-lg-6" style="border-right: 2px solid #ecf0f1; padding-top: 40px;">
            <i class="fa fa-music"><h3><%= link_to "MUSIC", music_path %></h3></i>
            <p><b>Recordings I've made of various jazz standards. I love to improvise and have really enjoyed learning the jazz language.</b></p>
          </div>

          <div class="col-lg-6" style="padding-top: 40px;">
            <i class="fa fa-flask"><h3><%= link_to "PROJECTS", projects_path %></h3></i>
            <p><b>Personal projects I've worked on.  I'm using this section as a sandbox of sorts.</b></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="ottowrap">
    <div class="container">
      <div class="row centered">
        <p>Andrea and Otto say,<br>
        Enjoy the rest of your <%= Time.now.strftime("%A") %>! </p>
        <iframe src="//instagram.com/p/Ylir1zq_96/embed/" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
        <iframe src="//instagram.com/p/izwqEkq__Y/embed/" width="412" height="510" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>


