<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="inner-nav">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">SHOT<i class="fa fa-globe"></i>P.COM</a>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "ABOUT", about_path %></li>
          <li><%= link_to "BLOG", blog_path %></li>
          <li><%= link_to "TRANSLATIONS", translations_path %></li>
          <li><%= link_to "MUSIC", music_path %></li>
          <li><%= link_to "PROJECTS", projects_path %></li>
          <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="https://www.facebook.com/sam.hotop" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
          <li><a href="https://www.linkedin.com/profile/view?id=25296546&trk=spm_pic" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/shotop" target="_blank"><i class="fa fa-github-alt"></i></a></li>
        </ul>
      </div>
    </div>
  </div>